body{
    font-family: 'Oleo Script', cursive;    
    background-color: beige;

    margin: 0px;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;

}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
    margin-top: 10px;
}

.half-width{
    width: 50%;
    padding-left: 2%;

}

.half-width img{
    width: 78%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 255, 13) , orange );
    padding: 15px 17px;
    font-weight: 500;
   
    border-radius: 8px;
}
.top-banner{
    background-image: url(image-food/images/shapes/top-banner.png);
    background-repeat: no-repeat;



}

.about-me{
    background-image: url(image-food/images/shapes/Frame\ 58.jpg);
}
.half-width{
    padding-right: 100px;
}

.indian-food-pic img {
    width: 20%;
}
.subs{
    
    text-align: center;
    display: ;
}


    
.wrapper h1 {
    font-size: 52px;    
    margin-bottom: 60px;
    text-align: center;
    padding-top: 120px;

}
.wrapper p{
    text-align: center;
    padding-bottom: 100px;
}

.title{
    display: flex;
    text-align: center;
    width: auto;
    padding-left: 30px;
    justify-content: center;
}
.last-part{
    background-color: rgba(172, 100, 240, 0.418);
}
.last-part .food-name {
    background-color: rgba(44, 255, 255, 0.486);
    border-radius : 2%;
    padding-bottom: 100px;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 50px;
}